.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.25;
    font-size: 24px;
}


.titleIsSmall {
    font-size: 16px;
    font-weight: 300;
}