.container {
  display: grid;
  grid-template-areas:
    "legend set25 set50 set75 setMax . ."
    "input input input input input minus plus";
  grid-template-columns: 1fr repeat(6, auto);
  border: none;
  padding: 0;
  margin-bottom: 16px;
}

.legend {
  composes: labelText from "../styles/inputs.module.css";
  composes: mb1 from "../styles/spacings.module.css";

  display: block;
  grid-area: legend;
  float: left;
  align-self: end;
}

.inputContainer {
  grid-area: input;
  display: grid;
  position: relative;
}

.labelText {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inputField {
  composes: field from "../styles/inputs.module.css";

  appearance: textfield;
}
.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.button {
  color: var(---1000 from "../styles/colors/text.module.css");
  border-style: solid;
  border-width: 1px;
  border-color: var(---1000 from "../styles/colors/text.module.css");
  background-color: var(---0 from "../styles/colors/text.module.css");
  padding: 0.5rem;
  font-size: 1.25rem;
}
.button:hover,
.button:focus-visible {
  background-color: var(---200 from "../styles/colors/text.module.css");
  outline-color: transparent;
}

.setButton {
  border-bottom: none;
  border-right-width: 0;
}

.set25 {
  composes: button setButton;
  grid-area: set25;
}

.set50 {
  composes: button setButton;
  grid-area: set50;
}

.set75 {
  composes: button setButton;
  grid-area: set75;
}

.setMax {
  composes: button setButton;
  grid-area: setMax;
  border-right-width: 1px;
}

.stepButton {
  width: 3rem;
  font-size: 1.5rem;
  padding-block: 0.25rem;
  border-left: none;
}

.minus {
  composes: button stepButton;
  grid-area: minus;
}

.plus {
  composes: button stepButton;
  grid-area: plus;
}
