@import "../styles/media.module.css";

.container {
  display: grid;
  align-content: start;
  row-gap: 0.25rem;
}

.link {
  display: grid !important;
  padding-left: 0.25rem;
  padding-right: 1.5rem;
  padding-block: 0.375rem;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  column-gap: 1rem;
  border-radius: 0.5rem;
  font-weight: 300 !important;
  font-size: 1.25rem;
  color: var(---1000 from "../styles/colors/text.module.css") !important;

  @media (--wide) {
    padding-right: 3rem;
    column-gap: 2rem;
  }
}
.link:hover,
.link:focus-visible {
  outline-color: transparent;
  background-color: var(---200 from "../styles/colors/surface.module.css");
}

.navLinkIsActive {
  color: var(---0 from "../styles/colors/text.module.css") !important;
  background-color: var(---1000 from "../styles/colors/surface.module.css") !important;
  font-weight: 700 !important;
}
