@import "../styles/media.module.css";

.container {
  display: grid;
  align-content: start;
  row-gap: 0.25rem;
  position: relative;
}

.link {
  display: grid !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-block: 0.375rem;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  column-gap: 1rem;
  border-radius: 0.5rem;
  font-weight: 300 !important;
  font-size: 1.25rem;
  transition: .2s ease;
  color: var(---1000 from "../styles/colors/text.module.css") !important;

  @media (--wide) {
    padding-right: 3rem;
    column-gap: 2rem;
  }
}

.linkBackground {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(---50 from "../styles/colors/surface.module.css");
    z-index: -1;
    height: 42px;
    border-radius: 0.5rem;
    transition: opacity 0.2s ease;
}

.navLinkIsActive {
  color: var(---0 from "../styles/colors/text.module.css") !important;
  background-color: var(---1000 from "../styles/colors/surface.module.css") !important;
  font-weight: 700 !important;
}
