.tabList {
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: var(---1000 from "../styles/colors/surface.module.css");
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
}
.tabList:has([data-focus]) {
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
  outline-color: var(---1000 from "../styles/colors/surface.module.css");
}

.tab {
  border: none;
  color: var(---1000 from "../styles/colors/text.module.css");
  background-color: var(---0 from "../styles/colors/surface.module.css");
  font-size: 1.25rem;
  padding-inline: 1rem;
  padding-block: 0.75rem;
}
.tab:global([data-hover]) {
  color: var(---0 from "../styles/colors/text.module.css");
  background-color: var(---1000 from "../styles/colors/surface.module.css");
}
.tab:global([data-disabled]) {
  color: var(---400 from "../styles/colors/text.module.css");
  background-color: var(---0 from "../styles/colors/surface.module.css");
}
.tab:global([data-selected]) {
  color: var(---0 from "../styles/colors/text.module.css");
  background-color: var(---1000 from "../styles/colors/surface.module.css");
}

.tabPanels {
  margin-top: 2rem;
}
