:root {
  @media (prefers-color-scheme: dark) {
    ---50: oklch(21% 0.1197 141.8455);
    ---100: oklch(29.0117% 0.1544 141.8455);
    ---200: oklch(40.6352% 0.187 141.8455);
    ---300: oklch(52.9469% 0.1945 141.8455);
    ---400: oklch(63.9% 0.177 141.8455);
    ---500: oklch(72.5637% 0.1483 141.8455);
    ---600: oklch(80.285% 0.1134 141.8455);
    ---700: oklch(87.2933% 0.0759 141.8455);
    ---800: oklch(93.4679% 0.0398 141.8455);
    ---900: oklch(97% 0.0184 141.8455);
  }
}

:root,
:root:global(:has(.colorSchemeLight)) {
  ---50: oklch(97% 0.0184 141.8455);
  ---100: oklch(93.4679% 0.0398 141.8455);
  ---200: oklch(87.2933% 0.0759 141.8455);
  ---300: oklch(80.285% 0.1134 141.8455);
  ---400: oklch(72.5637% 0.1483 141.8455);
  ---500: oklch(63.9% 0.177 141.8455);
  ---600: oklch(52.9469% 0.1945 141.8455);
  ---700: oklch(40.6352% 0.187 141.8455);
  ---800: oklch(29.0117% 0.1544 141.8455);
  ---900: oklch(21% 0.1197 141.8455);
}

:root:global(:has(.colorSchemeDark)) {
  ---50: oklch(21% 0.1197 141.8455);
  ---100: oklch(29.0117% 0.1544 141.8455);
  ---200: oklch(40.6352% 0.187 141.8455);
  ---300: oklch(52.9469% 0.1945 141.8455);
  ---400: oklch(63.9% 0.177 141.8455);
  ---500: oklch(72.5637% 0.1483 141.8455);
  ---600: oklch(80.285% 0.1134 141.8455);
  ---700: oklch(87.2933% 0.0759 141.8455);
  ---800: oklch(93.4679% 0.0398 141.8455);
  ---900: oklch(97% 0.0184 141.8455);
}
