:root {
  @media (prefers-color-scheme: dark) {
    ---50: oklch(21% 0.0905 24.3032);
    ---100: oklch(29.0103% 0.1167 24.3032);
    ---200: oklch(35.4088% 0.1324 24.3032);
    ---300: oklch(41.7204% 0.1427 24.3032);
    ---400: oklch(49.3994% 0.1476 24.3032);
    ---500: oklch(59.8241% 0.1407 24.3032);
    ---600: oklch(71.5952% 0.115 24.3032);
    ---700: oklch(83.4327% 0.0734 24.3032);
    ---800: oklch(93.4627% 0.0301 24.3032);
    ---900: oklch(97% 0.0139 24.3032);
  }
}

:root,
:root:global(:has(.colorSchemeLight)) {
  ---50: oklch(97% 0.0139 24.3032);
  ---100: oklch(93.4627% 0.0301 24.3032);
  ---200: oklch(83.4327% 0.0734 24.3032);
  ---300: oklch(71.5952% 0.115 24.3032);
  ---400: oklch(59.8241% 0.1407 24.3032);
  ---500: oklch(49.3994% 0.1476 24.3032);
  ---600: oklch(41.7204% 0.1427 24.3032);
  ---700: oklch(35.4088% 0.1324 24.3032);
  ---800: oklch(29.0103% 0.1167 24.3032);
  ---900: oklch(21% 0.0905 24.3032);
}

:root:global(:has(.colorSchemeDark)) {
  ---50: oklch(21% 0.0905 24.3032);
  ---100: oklch(29.0103% 0.1167 24.3032);
  ---200: oklch(35.4088% 0.1324 24.3032);
  ---300: oklch(41.7204% 0.1427 24.3032);
  ---400: oklch(49.3994% 0.1476 24.3032);
  ---500: oklch(59.8241% 0.1407 24.3032);
  ---600: oklch(71.5952% 0.115 24.3032);
  ---700: oklch(83.4327% 0.0734 24.3032);
  ---800: oklch(93.4627% 0.0301 24.3032);
  ---900: oklch(97% 0.0139 24.3032);
}
