:root {
  @media (prefers-color-scheme: dark) {
    ---50: oklch(21% 0.0048 295.33);
    ---100: oklch(29.0095% 0.0062 295.33);
    ---200: oklch(38.095% 0.0073 295.33);
    ---300: oklch(47.4898% 0.0078 295.33);
    ---400: oklch(56.8349% 0.0077 295.33);
    ---500: oklch(66.3505% 0.0068 295.33);
    ---600: oklch(76.0454% 0.0054 295.33);
    ---700: oklch(85.4109% 0.0035 295.33);
    ---800: oklch(93.4665% 0.0016 295.33);
    ---900: oklch(97% 0.0007 295.33);
  }
}

:root,
:root:global(:has(.colorSchemeLight)) {
  ---50: oklch(97% 0.0007 295.33);
  ---100: oklch(93.4665% 0.0016 295.33);
  ---200: oklch(85.4109% 0.0035 295.33);
  ---300: oklch(76.0454% 0.0054 295.33);
  ---400: oklch(66.3505% 0.0068 295.33);
  ---500: oklch(56.8349% 0.0077 295.33);
  ---600: oklch(47.4898% 0.0078 295.33);
  ---700: oklch(38.095% 0.0073 295.33);
  ---800: oklch(29.0095% 0.0062 295.33);
  ---900: oklch(21% 0.0048 295.33);
}

:root:global(:has(.colorSchemeDark)) {
  ---50: oklch(21% 0.0048 295.33);
  ---100: oklch(29.0095% 0.0062 295.33);
  ---200: oklch(38.095% 0.0073 295.33);
  ---300: oklch(47.4898% 0.0078 295.33);
  ---400: oklch(56.8349% 0.0077 295.33);
  ---500: oklch(66.3505% 0.0068 295.33);
  ---600: oklch(76.0454% 0.0054 295.33);
  ---700: oklch(85.4109% 0.0035 295.33);
  ---800: oklch(93.4665% 0.0016 295.33);
  ---900: oklch(97% 0.0007 295.33);
}
