version: "2.1"

services:
  swag:
    image: linuxserver/swag@sha256:4c7b2d56f6d5e9097ff2821dd80c235576637738709ec6d73507a4c14cfcec2d
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000 # see https://github.com/linuxserver/docker-swag#user--group-identifiers
      - PGID=1011 # see https://github.com/linuxserver/docker-swag#user--group-identifiers
      - TZ=Europe/Berlin # customize this
      - URL=example.com # customize this
      - SUBDOMAINS=liquity # customize this
      - VALIDATION=http
      - ONLY_SUBDOMAINS=true
    volumes:
      - ./config:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower@sha256:6dd50763bbd632a83cb154d5451700530d1e44200b268a4e9488fefdfcf2b038
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 1000 --cleanup --label-enable
    restart: unless-stopped

  dev-frontend:
    image: liquity/dev-frontend:latest@sha256:b0392bd36ef1066db227a9220d18896777b3a8499a46b1a343bd9bf1e3e91fcc
    container_name: liquity-dev-frontend
    environment:
      - FRONTEND_TAG= # customize this
      - INFURA_API_KEY= # (optional) customize this
    restart: unless-stopped
    labels:
      com.centurylinklabs.watchtower.enable: "true"
